* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f0f2f5;
  color: #5f5f5f;
}

a {
  text-decoration: none;
  color: #5f5f5f;
}

/* navbar  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 5%;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 30px;
}

.navbar-left {
  display: flex;
}

.navbar-center ul li {
  list-style: none;
  display: inline-block;
}

.navbar-center ul li a {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 14px;
  position: relative;
}

.navbar-center ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #3498db;
  position: absolute;
  bottom: -14px;
  left: 6px;
  transition: width 0.3s;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.active-link::after {
  width: 100%;
}

.navbar-center ul li a img {
  width: 30px;
}

.nav-profile-img {
  width: 40px;
  border-radius: 50%;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #41db51;
  position: absolute;
  right: 0;
  border: 2px solid #fff;
  border-radius: 50%;
}

.search-box {
  display: flex;
  align-items: center;
  width: 350px;
  background-color: #f0f2f5;
  border-radius: 20px;
  padding: 0 15px;
  margin-left: 15px;
}

.search-box img {
  width: 14px;
}

.search-box input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: none;
  padding: 8px;
}

/* main content  */

.container {
  display: flex;
  padding: 20px 6%;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* left-sidebar */

.left-sidebar,
.right-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
}

.sidebar-profile-box {
  background-color: #fff;
  padding: 20px 0 0;
}
.sidebar-profile-info {
  padding: 0 20px;
}

.sidebar-profile-info img {
  width: 90px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: -45px;
  padding: 4px;
}

.sidebar-profile-info h1 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.sidebar-profile-info h3 {
  font-size: 14px;
  font-weight: 500;
  color: #777;
  margin: 3px 0;
}

.sidebar-profile-info ul {
  list-style: none;
  margin: 20px 0;
}

.sidebar-profile-info ul li {
  width: 100%;
  font-size: 14px;
  margin: 5px 0;
}

.sidebar-profile-info ul li span {
  float: right;
  color: #3498db;
}

.sidebar-profile-link {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}

.sidebar-profile-link a {
  padding: 15px 5px;
  border-left: 1px solid #ccc;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

.sidebar-profile-link a:first-child {
  border: 0;
}

.sidebar-profile-link a img {
  width: 20px;
  margin-right: 10px;
}

.sidebar-activity {
  background-color: #fff;
  margin: 12px 0;
  padding: 5px 20px;
}

.sidebar-activity h3 {
  color: #777;
  font-weight: 500;
  font-size: 14px;
  margin: 20px 0 10px;
}

.sidebar-activity a {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
}

.sidebar-activity a img {
  width: 20px;
  margin-right: 10px;
}

.discover-more-link {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
}

.discover-more-link a {
  color: #045be6;
  display: inline-block;
  margin: 10px 0;
}

/* middle  */

.middle {
  flex-basis: 47%;
}

/* right sidebar  */

.sidebar-news {
  background-color: #fff;
  padding: 10px 20px;
}

.sidebar-news .more-info-icon {
  width: 18px;
  float: right;
  margin-top: 10px;
}

.sidebar-news h3 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 30px;
}

.sidebar-news a {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -3px;
}

.sidebar-news span {
  font-size: 12px;
}

.sidebar-news .read-more-link {
  color: #045be6;
  font-weight: 500;
  margin: 20px 0 10px;
}
